<?xml version="1.0" ?>
<config  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <card>
        <title>Example configuration</title>
        <title lang="en-GB">Example configuration</title>
        <input-field>
            <name>example</name>
        </input-field>
        <input-field type="single-select">
            <name>count</name>
            <label>count</label>
            <defaultValue>10</defaultValue>
            <options>
                <option>
                    <id>5</id>
                    <name>Five</name>
                </option>
                <option>
                    <id>10</id>
                    <name>Ten</name>
                </option>
            </options>
        </input-field>
    </card>
</config>
